#wrapper {
    border: 1px solid black;
    border-radius: 10px;
    background-color: antiquewhite;
    width: 80%;
    height: 500px;
    float: right;
    margin: 15px;
}

#wrapper2 {
    border: 1px solid black;
    border-radius: 10px;
    background-color: antiquewhite;
    width: 80%;
    height: 200px;
    float: right;
    margin: 15px;
}

h1{
	margin-left: auto;
    margin-right: auto;
	display: block;
	color: Tomato;
	text-align: center;
}

h2 {
    text-align: center;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#search_stuff, footer{
 /* ALIGN CENTER */ 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#cart {
    width: 150px;
    height: 150px;
    margin-left: 50px;
    float: left;
}

#cartInfo {
    margin-left: 400px;
}

#placeOrder {
    width: 100px;
    height: 50px;
    margin-left: 200px;
}

#returnHome {
    text-align: center;
}

#table {
    float: center;
}

#profile {
    width: 150px;
    height: 150px;
}
